<div class='card'>
  <div class='card-header'>
    {{ pageTitle }}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input class="form-control" type='text'
        [(ngModel)]='listFilter'
             />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'> 
      <div class='col-md-6'> 
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf="products && products.length">
        <thead>
          <tr>
            <th *ngIf="currentWidth  > 600">
              <button (click)='toggleImage()' class='btn btn-primary'>
                {{ showImages ? 'Hide' : 'Show' }}  {{ currentWidth  > 800 ? 'Image' : '' }} 
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th *ngIf="currentWidth  > 600"> {{currentWidth  > 748 ? '5 Star' : ''}} Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td *ngIf="currentWidth  > 600">
              <img *ngIf='showImages' 
                  [src]='product.imageUrl' 
                  [title]='product.productName | uppercase'
                  [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'> 
            </td>
            <td> {{ product.productName }}</td>
            <td>{{ product.productCode | lowercase |  convertToSpace:'-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'EUR' | lowercase }}</td>
            <td *ngIf="currentWidth > 600">
              <br-star [rating]='product.starRating'
                      (ratingClicked)='onRatingClicked($event)'>
             </br-star> 
            </td>
          </tr>
        </tbody>
      </table>
      <!-- {{ products | json }} -->
    </div>
  </div>
</div>
